---
# handlers file for initial_setup
- name: restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted
- name: restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
- name: restart webhook
  ansible.builtin.systemd:
    name: webhook
    state: restarted
- name: restart wireguard
  ansible.builtin.systemd:
    name: wg-quick@wg0
    state: restarted
- name: restart apparmor
  ansible.builtin.service:
    name: apparmor
    state: restarted

- name: restart status
  ansible.builtin.systemd:
    name: status
    state: restarted
    daemon_reload: yes

- name: restart dnsmasq
  ansible.builtin.service:
    name: dnsmasq
    state: restarted

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
