[Unit]
Description=Webhook Listener
After=network.target

[Service]
User=webhook
WorkingDirectory=/opt/webhook
ExecStart=/usr/bin/gunicorn --workers 2 --bind 127.0.0.1:5000 --access-logfile - --error-logfile - webhook_listener:app
{{ github_token_env }}
Restart=always

[Install]
WantedBy=multi-user.target
