[Unit]
Description=Webhook Listener
After=network.target

[Service]
User={{ app_user }}
WorkingDirectory=/home/{{ app_user }}
ExecStart=/usr/bin/python3 /home/{{ app_user }}/webhook_listener.py
Restart=always

[Install]
WantedBy=multi-user.target
