#!/bin/sh
printf "\n"
printf "********************************************************************************\n"
printf "*                                                                              *\n"
printf "*          This server is managed by the Ubuntu Ansible Setup project.         *\n"
printf "*                                                                              *\n"
printf "********************************************************************************\n"
printf "\n"
printf "Useful Information:\n"
printf "-------------------\n"
printf "SSH Port:      %s\n" "{{ ssh_port }}"
printf "VPN Port:      %s (UDP)\n" "{{ vpn_port }}"
printf "Webhook Port:  %s (TCP)\n" "{{ webhook_port }}"
printf "Status Port:   %s (TCP)\n" "{{ status_port }}"
printf "\n"
printf "Deployed applications are located in /home/<app_user>/<app_repo_name>.\n"
printf "The service status page is available at: http://127.0.0.1:%s\n" "{{ status_port }}"
printf "\n"
