#!/bin/sh
printf "\n"
printf "********************************************************************************\n"
printf "*                                                                              *\n"
printf "*          This server is managed by the Ubuntu Ansible Setup project.         *\n"
printf "*                                                                              *\n"
printf "********************************************************************************\n"
printf "\n"
printf "Useful Information:\n"
printf "-------------------\n"
printf "SSH Port:      %s\n" "{{ ssh_port }}"
printf "VPN Port:      %s\n" "{{ vpn_port }}"
printf "\n"
printf "Deployed applications are located in /home/<app_user>/<app_repo_name>.\n"
printf "The service status page is available at: http://status.internal\n"
printf "\n"
