[Unit]
Description=Webhook Listener
After=network.target

[Service]
User={{ new_user }}
WorkingDirectory=/home/{{ new_user }}
ExecStart=/usr/bin/gunicorn --workers 2 --bind 0.0.0.0:{{ webhook_port }} --access-logfile - --error-logfile - webhook_listener:app
Restart=always

[Install]
WantedBy=multi-user.target
