[Unit]
Description=Webhook Listener
After=network.target

[Service]
User={{ new_user }}
WorkingDirectory=/home/{{ new_user }}
ExecStart=/usr/bin/python3 /home/{{ new_user }}/webhook_listener.py
Restart=always

[Install]
WantedBy=multi-user.target
