---
# handlers file for app_deployment
- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
  become: yes

- name: restart webhook
  ansible.builtin.service:
    name: webhook
    state: restarted
  become: yes


- name: restart apparmor
  ansible.builtin.service:
    name: apparmor
    state: restarted



- name: restart app service
  ansible.builtin.systemd:
    name: app.service
    scope: user
    state: restarted
    daemon_reload: yes
  become: yes
  become_user: "{{ app_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ app_user_uid.stdout }}"
    DBUS_SESSION_BUS_ADDRESS: "unix:path=/run/user/{{ app_user_uid.stdout }}/bus"