---
# handlers file for app_deployment
- name: restart webhook
  ansible.builtin.systemd:
    name: webhook
    state: restarted

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted

- name: restart apparmor
  ansible.builtin.service:
    name: apparmor
    state: restarted

- name: restore apparmor restriction
  ansible.builtin.sysctl:
    name: kernel.apparmor_restrict_unprivileged_userns
    value: '1'
    state: present
  become: yes