---
# handlers file for app_deployment
- name: restart webhook
  ansible.builtin.systemd:
    name: webhook
    state: restarted

- name: restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted