[Interface]
PrivateKey = YOUR_CLIENT_PRIVATE_KEY
Address = 10.0.0.{{ client_ip_addr }}/32
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ ansible_host }}:{{ wireguard_port }}
AllowedIPs = 0.0.0.0/0
