---
- name: Install dnsmasq
  ansible.builtin.apt:
    name: dnsmasq
    state: present
  register: apt_install_dnsmasq_result
  until: apt_install_dnsmasq_result is successful
  retries: 10
  delay: 10

- name: Allow DNS (53/udp) on VPN interface
  community.general.ufw:
    rule: allow
    port: '53'
    proto: udp
    direction: in
    interface: wg0

- name: Configure dnsmasq for internal domain
  ansible.builtin.copy:
    dest: /etc/dnsmasq.d/internal.conf
    content: |
      listen-address=10.0.0.1
      bind-interfaces
      address=/status.internal/10.0.0.1
      server=8.8.8.8
      server=8.8.4.4
      domain-needed
      bogus-priv
      no-hosts
    mode: '0644'
  notify: restart dnsmasq

- name: Ensure dnsmasq is enabled and started
  ansible.builtin.service:
    name: dnsmasq
    state: started
    enabled: yes
