---
# tasks file for initial_setup
- name: Include hardening tasks
  ansible.builtin.include_tasks: hardening.yml

- name: Include status_server tasks
  ansible.builtin.include_tasks: status_server.yml

- name: Include reverse_proxy tasks
  ansible.builtin.include_tasks: reverse_proxy.yml

- name: Include vpn tasks
  ansible.builtin.include_tasks: vpn.yml

- name: Include webhook tasks
  ansible.builtin.include_tasks: webhook.yml

- name: Install remaining essential packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - dbus-user-session
      - uidmap
      - docker-compose
    state: present
  register: apt_install_essential_result
  until: apt_install_essential_result is successful
  retries: 10
  delay: 10

- name: Deploy MOTD
  ansible.builtin.template:
    src: 99-ansible-motd.j2
    dest: /etc/update-motd.d/99-ansible-motd
    mode: '0755'
