---
# tasks file for initial_setup
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install essential packages
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - python3-pip
      - virtualenv
      - python3-setuptools
      - ufw
      - fail2ban
      - unattended-upgrades
      - dbus-user-session
      - uidmap
    state: present

- name: Install Docker Compose
  ansible.builtin.pip:
    name: docker-compose
    executable: pip3

- name: Allow SSH, HTTP, and HTTPS through UFW
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "{{ ssh_port }}"
    - http
    - https

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Allow WireGuard through UFW
  community.general.ufw:
    rule: allow
    port: '51820'
    proto: udp

- name: Allow webhook through UFW
  community.general.ufw:
    rule: allow
    port: '5000'
    proto: tcp

- name: Configure fail2ban jail.local
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: restart fail2ban

- name: Ensure fail2ban is running and enabled
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: yes

- name: Configure unattended-upgrades
  ansible.builtin.template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    mode: '0644'

- name: Enable unattended-upgrades
  ansible.builtin.copy:
    content: 'APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";'
    dest: /etc/apt/apt.conf.d/20auto-upgrades
    mode: '0644'

- name: Include reverse_proxy tasks
  ansible.builtin.include_tasks: reverse_proxy.yml

- name: Include vpn tasks
  ansible.builtin.include_tasks: vpn.yml

- name: Include rootless_docker tasks
  ansible.builtin.include_tasks: rootless_docker.yml

- name: Include webhook tasks
  ansible.builtin.include_tasks: webhook.yml
