---
# tasks file for rootless_docker
- name: Get new_user uid
  ansible.builtin.command:
    cmd: "id -u {{ new_user }}"
  register: new_user_uid
  changed_when: false

- name: Check if apparmor is installed
  ansible.builtin.command: dpkg -s apparmor
  register: apparmor_check
  changed_when: false
  failed_when: apparmor_check.rc != 0 and "package 'apparmor' is not installed" not in apparmor_check.stderr

- name: Download rootless docker install script
  ansible.builtin.get_url:
    url: https://get.docker.com/rootless
    dest: "/home/{{ new_user }}/get-docker-rootless.sh"
    mode: '0755'
  become: yes
  become_user: "{{ new_user }}"

- name: Create AppArmor profile for RootlessKit
  ansible.builtin.copy:
    content: |
      # ref: https://ubuntu.com/blog/ubuntu-23-10-restricted-unprivileged-user-namespaces
      abi <abi/4.0>,
      include <tunables/global>

      /home/{{ new_user }}/bin/rootlesskit flags=(unconfined) {
        userns,

        # Site-specific additions and overrides. See local/README for details.
        include if exists <local/home.{{ new_user }}.bin.rootlesskit>
      }
    dest: "/etc/apparmor.d/home.{{ new_user }}.bin.rootlesskit"
    owner: root
    group: root
    mode: '0644'
  become: yes
  when: apparmor_check.rc == 0
  notify: restart apparmor

- name: Flush handlers to apply AppArmor profile
  ansible.builtin.meta: flush_handlers

- name: Install rootless docker
  ansible.builtin.command:
    cmd: "/home/{{ new_user }}/get-docker-rootless.sh"
  become: yes
  become_user: "{{ new_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ new_user_uid.stdout }}"

- name: Ensure D-Bus session is active and start docker services for new_user
  ansible.builtin.shell: |
    export XDG_RUNTIME_DIR="/run/user/{{ new_user_uid.stdout }}"
    if ! systemctl --user is-active --quiet; then
      systemctl --user start default.target
    fi
    systemctl --user enable docker.service
    systemctl --user start docker.service
    systemctl --user enable docker.socket
    systemctl --user start docker.socket
    systemctl --user list-unit-files --type=service
  args:
    executable: /bin/bash
  become: yes
  become_user: "{{ new_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ new_user_uid.stdout }}"
  register: docker_services_setup_result
  changed_when: docker_services_setup_result.rc == 0

- name: Start rootless docker service for new_user
  ansible.builtin.systemd:
    scope: user
    name: docker
    enabled: yes
    state: started
  become: yes
  become_user: "{{ new_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ new_user_uid.stdout }}"
