---
# tasks file for vpn_setup
- name: Install WireGuard
  ansible.builtin.apt:
    name: wireguard
    state: present
  register: apt_install_wireguard_result
  until: apt_install_wireguard_result is successful
  retries: 10
  delay: 10

- name: Allow WireGuard through UFW
  community.general.ufw:
    rule: allow
    port: "{{ vpn_port }}"
    proto: udp

- name: Allow all traffic from VPN subnet
  community.general.ufw:
    rule: allow
    src: '10.0.0.0/24'

- name: Create WireGuard configuration directory
  ansible.builtin.file:
    path: /etc/wireguard
    state: directory
    mode: '0700'

- name: Check if server private key exists
  ansible.builtin.stat:
    path: /etc/wireguard/server_private.key
  register: server_private_key_file

- name: Generate server private key
  ansible.builtin.shell: wg genkey > /etc/wireguard/server_private.key
  when: not server_private_key_file.stat.exists
  register: gen_private_key

- name: Set permissions on server private key
  ansible.builtin.file:
    path: /etc/wireguard/server_private.key
    mode: '0600'

- name: Read server private key
  ansible.builtin.slurp:
    src: /etc/wireguard/server_private.key
  register: server_private_key_content

- name: Check if server public key exists
  ansible.builtin.stat:
    path: /etc/wireguard/server_public.key
  register: server_public_key_file

- name: Generate server public key
  ansible.builtin.shell: wg pubkey < /etc/wireguard/server_private.key > /etc/wireguard/server_public.key
  when: not server_public_key_file.stat.exists or (gen_private_key.changed | default(false))

- name: Read server public key
  ansible.builtin.slurp:
    src: /etc/wireguard/server_public.key
  register: server_public_key_content

- name: Create WireGuard configuration
  ansible.builtin.template:
    src: wg0.conf.j2
    dest: /etc/wireguard/wg0.conf
    mode: '0600'
  vars:
    server_private_key:
      stdout: "{{ server_private_key_content['content'] | b64decode | trim }}"
  notify: restart wireguard

- name: Enable IP forwarding
  ansible.builtin.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: yes
    state: present
    reload: yes

- name: Ensure WireGuard service is enabled and started
  ansible.builtin.systemd:
    name: wg-quick@wg0
    enabled: yes
    state: started
